@font-face {
  font-family: "PT Sans";
  src: url("./assets/font-family/pt-sans/PTS55F.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe WP";
  src: url("./assets/font-family/segoe-wp/SegoeWPN.ttf") format("truetype");
}

body {

  font-size: 20px;
  font-family: "PT Sans", "Segoe WP", sans-serif;
  background-image: url("./assets/images/background.jpg");
}

                                            /*    HEADER    */

.site-header {
  max-width: 1024px;
  height: 200px;
  margin: 0 auto;
}

.site-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.photo img {
  border-radius: 20px;
}

                                              /*    MAIN    */

.main-info {
  max-width: 1024px;
  height: 725px;
  margin: 0 auto;
}

.main-info__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.summary {
  height: 200px;
  padding: 0px 60px 0 60px;
}

.experience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px 0 60px;
}

.experience__skills {
  width: 40%;
}

.experience__skills li {
  width: 30%;
  margin-top: 10px;
  font-weight: 600;
  list-style-type: none;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.64);
  text-align: center;
}


.experience__code-example {
  width: 40%;
}

.code {
  background-color: rgb(189, 207, 207);
}

.education {
  padding: 0 60px 0 60px;
}

                                          /*    FOOTER    */

.footer-content {
  max-width: 1024px;
  height: 150px;
  margin: 0 auto;
}

.footer-wrapper {
  padding: 0 60px 0 60px;
}